body {
    background-color: #413D3D;
    height: 100%;
}

br {
    display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 2px;
}
 
.grid {
    width: 1000px;
    height: 100%;
    margin: 20px auto;
    background-color:  #413D3D;
    padding: 10px 50px 50px 50px;
      
}
 
.grid h1 {
    font-family: "sans-serif";
    background-color: #7bea7b;
    font-size: 60px;
    text-align: center;
    color: darkslategray;
    padding: 2px 0px;
    border-radius: 30px;
    
}
 
#score {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}
 
.h1 #question {
    font-family: "monospace";
    font-size: 30px;
    color: #01BBFF;
}
 
.buttons {
    margin-top: 30px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #a6f2a6;
    width: 380px;
    font-size: 33px;
    color: darkslategray;
    border: 6px solid #38e038;
    margin: 10px 40px 10px 70px;
    padding: 10px 10px;
    border-radius: 20px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #01BBFF;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
    color: #fff;
    font-size: 18px;
}

span.A {
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 320px;
    bottom: 400px;
    z-index: 1;

    background: #fff;
    color: #7bea7b;

    font: 33px Arial, sans-serif;
}

span.B {
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 810px;
    bottom: 400px;
    z-index: 1;

    background: #fff;
    color: #7bea7b;

    font: 33px Arial, sans-serif;
}

span.C {
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 320px;
    bottom: 322px;
    z-index: 1;

    background: #fff;
    color: #7bea7b;

    font: 33px Arial, sans-serif;
}
span.D {
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 810px;
    bottom: 322px;
    z-index: 1;

    background: #fff;
    color: #7bea7b;

    font: 33px Arial, sans-serif;
}
